<div fxLayout="column" fxFlexFill fxLayoutAlign="center">
  <div fxFlex="90" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="65" fxLayout="column">
      <div fxLayout="row" fxFlex="10" class="team-name-and-timer-container">
        <div fxFlex="50" class="blue-team-name"  fxLayoutAlign="center center">
          <mat-form-field color="accent" appearance="{{blueTeamNameCanEdit ? 'fill' : 'none'}}" (keyup.enter)="blueTeamNameCanEdit = !blueTeamNameCanEdit">
            <input  matInput type="text" [(ngModel)]="blueTeamName" [readonly]="!blueTeamNameCanEdit" [placeholder]="redTeamName">
            <button mat-icon-button matSuffix (click)="blueTeamNameCanEdit = !blueTeamNameCanEdit"> <mat-icon>edit</mat-icon></button>
          </mat-form-field>
        </div>
        <div fxFlex="50" class="red-team-name"  fxLayoutAlign="center center">
          <mat-form-field color="accent" appearance="{{redTeamNameCanEdit ? 'fill' : 'none'}}" (keyup.enter)="redTeamNameCanEdit = !redTeamNameCanEdit">
            <input  matInput type="text" [(ngModel)]="redTeamName" [readonly]="!redTeamNameCanEdit" [placeholder]="blueTeamName">
            <button mat-icon-button matSuffix (click)="redTeamNameCanEdit = !redTeamNameCanEdit"> <mat-icon>edit</mat-icon></button>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxFlex="90" class="picks-and-champions-container">
        <div cdkDropList
             [cdkDropListData]="bluePicks"
             [cdkDropListConnectedTo]="[bluePicksList, championsList]"
             #bluePicksList="cdkDropList"
             (cdkDropListDropped)="drop(championsInfo, $event)"
             [cdkDropListEnterPredicate]="canEnterPicksContainer(bluePicks)"
             fxLayout="column" fxFlex="12" class="blue-team picks" >
          <div fxFlex="20" *ngFor="let champion of bluePicks" cdkDrag>
            <img fxFlex="grow" src="{{champion.tileIconUrl}}"/>
            <img *cdkDragPreview src="{{champion.iconUrl}}">
            <img *cdkDragPlaceholder/>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 1" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 1</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 2" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 2</p>
          </div>
          <div  fxFlex="20" *ngIf="bluePicks.length < 3" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 3</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 4" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 4</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 5" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 5</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="76" class="champions-and-search" >
          <div fxFlex="9" fxLayoutAlign="end">
            <mat-form-field fxFlexOffset="10" color="accent" appearance="fill" class="search-champion-form-field">
              <mat-label>Search</mat-label>
              <input  matInput type="text" [(ngModel)]="championsSearchInput" >
            </mat-form-field>
          </div>
          <div cdkDropList
               [cdkDropListData]="championsInfo"
               [cdkDropListConnectedTo]="[redPicksList, bluePicksList]"
               #championsList="cdkDropList"
               (cdkDropListDropped)="drop(championsInfo,$event)"
               cdkDropListSortingDisabled fxLayout="row wrap" fxFlex="91" class="champions"  fxLayoutAlign="center">
            <div  fxLayout="column"  *ngFor="let champion of championsInfo | ChampionsFilter: championsSearchInput" cdkDrag [cdkDragData]="champion" >
              <img  src="{{champion.iconUrl}}"/>
              <p>{{champion.name}}</p>
              <img *cdkDragPreview src="{{champion.iconUrl}}">
              <img *cdkDragPlaceholder/>
            </div>
          </div>
        </div>
        <div cdkDropList
             [cdkDropListData]="redPicks"
             [cdkDropListConnectedTo]="[bluePicksList, championsList]"
             #redPicksList="cdkDropList"
             (cdkDropListDropped)="drop(championsInfo, $event)"
             fxLayout="column" fxFlex="12" class="red-team picks"
             [cdkDropListEnterPredicate]="canEnterPicksContainer(redPicks)">
          <div fxFlex="20" *ngFor="let champion of redPicks" cdkDrag>
            <img fxFlex="grow" src="{{champion.tileIconUrl}}"/>
            <img *cdkDragPreview src="{{champion.iconUrl}}">
            <img *cdkDragPlaceholder/>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 1" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 1</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 2" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 2</p>
          </div>
          <div  fxFlex="20" *ngIf="redPicks.length < 3" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 3</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 4" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 4</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 5" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 5</p>
          </div>
        </div>
      </div>
    </div>
    <div fxFlex="25" fxLayoutAlign="end center">
        <div class="map-container">
          <img class="map" src="assets/img/Maps/SummonersRift.png"/>
          <img class="champion-inside-map red-champion-inside-map" class="R{{i+1}}" *ngFor="let champion of redPicks; index as i" src="{{champion.iconUrl}}" cdkDragBoundary=".map-container" cdkDrag />
          <img class="champion-inside-map blue-champion-inside-map" class="B{{i+1}}" *ngFor="let champion of bluePicks; index as i" src="{{champion.iconUrl}}" cdkDragBoundary=".map-container" cdkDrag />
    </div>
  </div>
  </div>
</div>
