.picks div{
  background-color: white;
}
.champions {
  overflow: auto;
  margin-top:30px;
}
.champions div {
  margin: 20px 20px 20px 20px;
  box-sizing: border-box;
  width: 96px;
}



.champions div img {
  width:72px;
  height: 72px;
}
.search-form-field {
}

.red-team.picks div {
  background-color: #BE2038;
}
.blue-team.picks div {
  background-color: #0A4264;
}
.blue-team.picks div img{
}

.red-team-name {
  background-color: #BE2038;
  opacity: 50%;
}
.blue-team-name {
  background-color: #0A4264;
  opacity: 50%;
}
.team-name-and-timer-container{
  border: 1px solid black;
}
.picks-and-champions-container{
  border: 1px solid black;
}
.champions-and-search{
  background-color: #1F1F1F;

  border: 1px solid black;
}
.search-champion-form-field{
  padding-left:10px;
  padding-top:10px;
}
.pick-border{
  border: 1px solid black;
}
/*.champions .cdk-drag-placeholder {*/
/*  display:none !important;*/
/*}*/
