<div fxLayout="column" fxFlexFill fxLayoutAlign="center">
  <div fxFlex="90" fxLayout="row" fxLayoutAlign="center">
    <div fxFlex="80" fxLayout="column">
      <div fxLayout="row" fxFlex="10" class="team-name-and-timer-container">
        <div fxFlex="40" class="blue-team-name"  fxLayoutAlign="center center">
          <p>Team 1</p>
        </div>
        <div fxFlex="20" class="timer" style="background-color:green" fxLayoutAlign="center center">
          <p>0:30</p>
        </div>
        <div fxFlex="40" class="red-team-name" fxLayoutAlign="center center">
          <p>Team 2</p>
        </div>
      </div>
      <div fxLayout="row" fxFlex="90" class="picks-and-champions-container">
        <div cdkDropList
             [cdkDropListData]="bluePicks"
             [cdkDropListConnectedTo]="[bluePicksList, championsList]"
             #bluePicksList="cdkDropList"
             (cdkDropListDropped)="drop($event)"
             fxLayout="column" fxFlex="10" class="blue-team picks" >
          <div fxFlex="20" *ngFor="let champion of bluePicks" cdkDrag>
            <img fxFlex="grow" src="{{champion.tileIconUrl}}"/>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 1" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 1</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 2" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 2</p>
          </div>
          <div  fxFlex="20" *ngIf="bluePicks.length < 3" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 3</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 4" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 4</p>
          </div>
          <div fxFlex="20" *ngIf="bluePicks.length < 5" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 5</p>
          </div>
        </div>
        <div fxLayout="column" fxFlex="80" class="champions-and-search" >
          <div fxFlex="5">
            <mat-form-field fxFlexOffset="" color="accent" appearance="fill" class="search-champion-form-field">
              <mat-label>Search</mat-label>
              <input  matInput type="text" [(ngModel)]="championsSearchInput" >
            </mat-form-field>
          </div>
          <div cdkDropList
               [cdkDropListData]="championsInfo"
               [cdkDropListConnectedTo]="[redPicksList, bluePicksList]"
               #championsList="cdkDropList"
               (cdkDropListDropped)="drop($event)"
               cdkDropListSortingDisabled fxLayout="row wrap" fxFlex="95" class="champions"  fxLayoutAlign="center"
            <div  *ngFor="let champion of championsInfo | ChampionsFilter: championsSearchInput" cdkDrag >
              <img  src="{{champion.iconUrl}}"/>
              <p>{{champion.name}}</p>
            </div>
          </div>
        </div>
        <div cdkDropList
             [cdkDropListData]="redPicks"
             [cdkDropListConnectedTo]="[bluePicksList, championsList]"
             #redPicksList="cdkDropList"
             (cdkDropListDropped)="drop($event)"
             fxLayout="column" fxFlex="10" class="red-team picks" cdkDropList
        CdkList>
          <div fxFlex="20" *ngFor="let champion of redPicks" cdkDrag>
            <img fxFlex="grow" src="{{champion.tileIconUrl}}"/>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 1" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 1</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 2" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 2</p>
          </div>
          <div  fxFlex="20" *ngIf="redPicks.length < 3" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 3</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 4" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 4</p>
          </div>
          <div fxFlex="20" *ngIf="redPicks.length < 5" class="pick-border" fxLayoutAlign="center center">
            <p>Summoner 5</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
