.picks div{
  background-color: white;
}
.champions {
  overflow: auto;
  margin-top:30px;
  overflow-x: hidden;
}
.champions div {
  margin: 10px 20px 0px 20px;
  box-sizing: border-box;
  text-align: center;
}

.champions div img {
  width:80px;
  height: 80px;
  border-radius: 15%;
}

.red-team.picks div {
  background-color: #BE2038;
}
.blue-team.picks div {
  background-color: #0A4264;
}
.red-team-name {
  background-color: #BE2038;
  opacity: 50%;
}
.blue-team-name {
  background-color: #0A4264;
  opacity: 50%;
}
.team-name-and-timer-container{
  border: 1px solid black;
}
.picks-and-champions-container{
  border: 1px solid black;
}
.champions-and-search{
  background-color: #1F1F1F;

  border: 1px solid black;
}
.search-champion-form-field{
  margin-right:15px;
  margin-top:10px;
}
.pick-border{
  border: 1px solid black;
}
.picks div{
  display: flex;
}
.champions .cdk-drag-placeholder{
  display: none
}
.map-container{
  width: 384px;
  height: 384px;
  max-width: 100%;
  position: relative;

}
.map-container .map{
  position: absolute ;
  width: 384px;
  height: 384px;
  border: 1px solid #242424;
}
.champion-inside-map{
  height: 36px;
  width: 36px;
  position: absolute;
  border-radius: 50%;
}
.red-champion-inside-map{
  border: 2px double #BE2038;
}
.blue-champion-inside-map{
  border: 2px double #0A4264;
}

.R1 {
  top: 5%;
  right: 5%;
}
.R2 {
  top: 5%;
  right: 20%;
}
.R3 {
  top: 5%;
  right: 35%;
}
.R4 {
  top: 20%;
  right: 5%;
}
.R5 {
  top: 35%;
  right: 5%;
}
.B1 {
  bottom: 5%;
  left: 5%
}
.B2 {
  bottom: 5%;
  left: 20%
}
.B3 {
  bottom: 5%;
  left: 35%
}
.B4{
  bottom: 20%;
  left: 5%
}
.B5{
  bottom: 35%;
  left: 5%
}

