<mat-toolbar>
  <mat-toolbar-row>
    <button *ngIf="loggedIn()" mat-icon-button (click)="toggleSideBar()">
      <mat-icon>menu</mat-icon>
    </button>

    <span> League Draft</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button *ngIf="loggedIn()" mat-menu-item>
              <mat-icon>settings</mat-icon>
              Settings
            </button>
            <mat-divider></mat-divider>
            <button  *ngIf="loggedIn()" mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Sign out
            </button>
            <button *ngIf="!loggedIn()" mat-menu-item routerLink="/register">
              <mat-icon>login</mat-icon>
              Register
            </button>
            <button *ngIf="!loggedIn()" mat-menu-item (click)="openSignInDialog()">
              <mat-icon>login</mat-icon>
              Login
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
