:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-drawer {
  width: 175px;
}

mat-drawer-container{
  height: 100%;
}
.app-container {
  height: 100%;
}

.mat-divider {
  border-top-color: #353535;
}
